<!-- ko with: home -->
<div class="row"><image data-bind="attr: {src: imageUrl}" class="thumbnail"></image></div>
<div><a class="btn btn-sm btn-primary" href="#GetNewImage">Get Last Image</a>&nbsp;<a class="btn btn-sm btn-primary" href="#Reload">Reload</a></div>
<!-- /ko -->
